<template>
    <div id="app" class="app">
        <MapboxMap
            style-url="mapbox://styles/arnelleablane/cjiayu1xc0ygr2rmu8u5j8iz0"
            :center="[123.919674, 10.341305]"
            :zoom="17"
        >
            <MapboxGeolocateControl />
            <MapboxScaleControl />
            <MapboxNavigationControl />
            <MapboxFullscreenControl />

            <MapboxMarker
                v-for="coffeeshop in coffeeshops"
                :key="coffeeshop.name"
                :latitude="coffeeshop.latitude"
                :longitude="coffeeshop.longitude"
            >
                <CoffeeshopCard :data="coffeeshop" />
            </MapboxMarker>
        </MapboxMap>
    </div>
</template>

<script>
    import MapboxMap from './MapboxMap.vue';
    import MapboxGeolocateControl from './MapboxGeolocateControl.vue';
    import MapboxScaleControl from './MapboxScaleControl.vue';
    import MapboxNavigationControl from './MapboxNavigationControl.vue';
    import MapboxFullscreenControl from './MapboxFullscreenControl.vue';
    import MapboxMarker from './MapboxMarker.vue';
    import CoffeeshopCard from './CoffeeshopCard.vue';
    import {database} from '../modules/firebase';

    export default {
        name: 'App',

        components: {
            MapboxMap,
            MapboxGeolocateControl,
            MapboxScaleControl,
            MapboxNavigationControl,
            MapboxFullscreenControl,
            MapboxMarker,
            CoffeeshopCard
        },

        data() {
            return {
                coffeeshops: []
            };
        },

        created() {
            const coffeeshopsRef = database.ref('coffeeshops');

            coffeeshopsRef.on('child_added', snapshot => {
                const coffeeshop = snapshot.val();
                this.coffeeshops = [...this.coffeeshops, coffeeshop];
            });
        }
    };
</script>

<style scoped>
    .app {
        min-height: 100vh;
    }

    .mapbox-map {
        height: 100vh;
    }
</style>
