<template>
    <section class="coffeeshop-card">
        <img src="../images/coffeeshops/placeholder.jpg" alt="">

        <header>
            <h1>{{data.name}}</h1>
        </header>
    </section>
</template>

<script>
    export default {
        name: 'CoffeeshopCard',

        props: {
            data: {
                type: Object,
                required: true
            }
        }
    };
</script>

<style scoped>
    .coffeeshop-card {
        width: 90vw;
        max-width: 300px;
        border-radius: 4px;
        background-color: #fff;
    }

    img {
        display: block;
        width: 100%;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }

    header {
        padding: 12px;
    }

    header h1 {
        margin: 0;
        font-family: "Open Sans";
        font-size: 16px;
        font-weight: 400;
        color: #333;
    }
</style>
