<template>
    <span class="mapbox-marker">
        <slot ref="popup"></slot>
    </span>
</template>

<script>
    import mapboxgl from 'mapbox-gl';

    export default {
        name: 'MapboxMarker',

        inject: ['getMap'],

        props: {
            latitude: {
                type: Number,
                required: true
            },
            longitude: {
                type: Number,
                required: true
            }
        },

        data() {
            return {
                marker: null,
                popup: null
            };
        },

        mounted() {
            const map = this.getMap();
            const markerOptions = {
                element: this.$el,
                anchor: 'bottom'
            };

            this.marker = new mapboxgl.Marker(markerOptions)
                .setLngLat([this.longitude, this.latitude])
                .addTo(map);

            if (this.$slots.default) {
                const MARKER_HEIGHT = 28;
                const popupOptions = {
                    offset: [0, -MARKER_HEIGHT],
                    closeButton: false
                };

                this.popup = new mapboxgl.Popup(popupOptions)
                    .setDOMContent(this.$slots.default[0].elm)
                    .setLngLat([this.longitude, this.latitude]);
                this.marker.setPopup(this.popup);
            }
        }
    };
</script>

<style scoped>
    .mapbox-marker {
        display: block;
        width: 28px;
        height: 28px;
        background: url("../images/marker.png") center center no-repeat;
        background-size: cover;
    }
</style>
