<template>
    <div class="mapbox-map">
        <slot v-if="map"></slot>
    </div>
</template>

<script>
    import mapboxgl from 'mapbox-gl';

    export default {
        name: 'MapboxMap',

        inheritAttrs: false,

        props: {
            styleUrl: String
        },

        data() {
            return {
                map: null
            };
        },

        provide() {
            return {
                getMap: () => this.map
            }
        },

        mounted() {
            this.map = new mapboxgl.Map({
                container: this.$el,
                style: this.styleUrl,
                ...this.$attrs
            });
        }
    };
</script>
