<template>
    <div class="mapbox-fullscreen-control"></div>
</template>

<script>
    import mapboxgl from 'mapbox-gl';

    export default {
        name: 'MapboxFullscreenControl',

        inheritAttrs: false,

        inject: ['getMap'],

        props: {
            position: String
        },

        mounted() {
            const control = new mapboxgl.FullscreenControl(this.$attrs);
            const map = this.getMap();

            map.addControl(control, this.position);
        }
    };
</script>
