/** Contains all overrides for Mapbox's default styles **/

/** Override user location styles **/
div.mapboxgl-user-location-dot,
div.mapboxgl-user-location-dot::before {
    background-color: var(--geolocate-control-color, #e5c163);
}


/** Override map controls styles **/
div.mapboxgl-ctrl-group {
    background-color: hsl(0, 0%, 30%);
    box-shadow: none;
}

div.mapboxgl-ctrl-group button + button {
    border-top-color: hsl(0, 0%, 25%);
}

button.mapboxgl-ctrl-icon.mapboxgl-ctrl-geolocate {
    background-image: url("../images/location.png");
}

button.mapboxgl-ctrl-icon.mapboxgl-ctrl-zoom-in {
    background-image: url("../images/plus.png");
}

button.mapboxgl-ctrl-icon.mapboxgl-ctrl-zoom-out {
    background-image: url("../images/minus.png");
}

button.mapboxgl-ctrl-icon.mapboxgl-ctrl-compass .mapboxgl-ctrl-compass-arrow {
    width: 100%;
    height: 100%;
    margin: 0;
    background: url("../images/compass.png") center center no-repeat;
    background-size: 88%;
}

button.mapboxgl-ctrl-icon.mapboxgl-ctrl-fullscreen {
    background-image: url("../images/fullscreen.png");
}

button.mapboxgl-ctrl-icon.mapboxgl-ctrl-shrink {
    background-image: url("../images/fullscreen-exit.png");
}


/** Override popup styles. **/
.mapboxgl-popup .mapboxgl-popup-tip {
    opacity: 0;
}

.mapboxgl-popup .mapboxgl-popup-content {
    padding: 0;
    border-radius: 0;
    background: none;
    box-shadow:
        0 15px 35px rgba(0, 0, 0, 0.15),
        0 5px 15px rgba(0, 0, 0, 0.05);
}
